#user_table{
	width: 880px;
}

#user_list_table{
	padding-right: 17px;
	height: 180px;
	overflow-y: auto;
	width: 880px;
	position: relative;
	right: 6px;
}
#tablem_list_table{	
	position: relative;
	top: 150px;
	padding-right: 17px;
	height: 200px;
	overflow-y: auto;
	width: 880px;
}

#add_user_form{
	background-color: white;
	width: 380px;
	margin-top: 180px;
	border: 3px solid black;
	radius: 50px;
	font-family: century gothic;
	padding: 10px;
}

[floatRight]{
	float: right;
}