/* CSS Document */

#homepage_panel{
	text-align: right;
	position: relative;
	top: 115px;
	left: 0px;}

.mouseover_button{	
	border: 1px solid #555555;
	color: black;
	background-color: #FFFF26;
}

.sub_info{
}

.patient_name{
	font-weight: bold;
	font-size: 30px;
}

.mouseclick_button{	
	border: 1px solid white;
	color: white;
	background-color: #008C00;
}

.mouseout_button{
	border: 1px solid #555555;
	color: black;
	background-color: #FFFF99;
}
.button{	
	font-weight: bold;
	padding: 2px 20px;
}
.solid_black{
	border: 1px solid black;
}

.table_header{
	font-weight: bold;
	font-size: 15px;
	color: white;
	background-color: #5070cd;
}

.header_row{
	font-weight: bold;
	font-size: 15px;
	color: white;
	background-color: #5070cd;
}

.patient_records{
	background-color: white;
}

.record_mouseclick_button{
	background-color: #FFFFBF;
	
}

.record_mouseout_button{
	background-color: white;
}

.record_mouseover_button{
	background-color: #BFBFFF;
}

#logout_button{	
	position: relative;
	top: 33px;
}
#user_name{	
	margin: 0px 20px;
	position: relative;
	top: 33px;
}

#logout_button{	
	position: relative;
	top: 33px;
}

#acc_panel{
	padding: 2px;
	height: 60px;
	width: 506px;
	text-align: end;
	position: absolute;
	right:0px;
	top: -30px;
}
#user_name{	
	margin: 0px 20px;
	position: relative;
	top: 33px;
}

textarea {
    resize: none;
    height: 50px;
}

#footer_panel{
	width: 960px;
	height: 30px;
	position: relative;
	top: 75px;
}

#asterisk{
	color: red;
	font-size: 20px;
}

#user_list{	
	width: 885px;
	height: 150px;
	position: relative;
	top: 110px;
}

#user_table{	
	position: relative;
	font-size: 12px;
	text-align: center;
	width: 885px;
	height: auto;
	overflow: auto;
	background-color: black;
}

#tm_bg{
	top: 50px;
}

#tablem_list{	
	width: 880px;
	height: 270px;
	position: relative;
	overflow-y: auto;
	padding-right: 10px;
	top:50px;
}

#tablem_table{	
	position: relative;
	font-size: 12px;
	text-align: center;
	width: 880px;
	height: auto;
	overflow: auto;
	background-color: black;
}

[w_bg]{
	background-color: white;
}

#body_div {
	background-image: url(../images/pages_bg.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 675px;
	position: relative;
	/*right: -660px;
	top: 180px;
	padding: 20px;
	text-align:left;
	border-radius: 50px;*/
}

body{
	background-color: #4a4a4a;
	font-family: century gothic;
}