/* CSS Document */

#register_panel{
	padding: 12px;
	background-color: white;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	height: 600px;
	width: 325px;
	border: 2px solid black;
	border-radius: 4px;
}
#register_div{
	height: 100%;
	width: 100%;
}