body{
	background-color: #4a4a4a;
	font-family: century gothic;
}

#body_div {
	background-image: url(../images/pages_bg.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 675px;
	position: relative;
}

#treatment_record_image{
	text-align: center;
	position: relative;
	width: 350px;
	height:253px;
	float: left;
	top: 60px;
	left: 120px;
}

th{
	font-weight: bold;
	font-size: 15px;
	color: white;
	background-color: #5070cd;
}

td{
	background-color: white;
}

#patients_treatment_plan{
	position: relative;
	top: 140px;
	width: 885px;
	height: 200px;
	overflow:auto;
	border: 1px solid black;
	background-color: white;
}

#add_record_button{
	position: relative;
	top: -100px;
	float: right;
}

.close_edit_treat{
	margin-right: 100px;
	margin-top: -10px;
}
.close_add_treat{
	margin-right: 100px;
	margin-top: -10px;
}
#add_treatment_record{
	background-color: white;
	border: 3px solid black;
	border-radius: 5px;
	width: 250px;
	margin: 30px auto;
}
#edit_treatment_record{
	background-color: white;
	border: 3px solid black;
	border-radius: 5px;
	width: 300px;
	margin: 30px auto;
}

#add_treatment_record_div{
	text-align: center;
}

#record_table{
	text-align: center;
	border: 1px solid black;
	border-radius: 0px;
	background-color: black;
	width: 100%;
	margin: 0px auto;
}