/* CSS Document */

#homepage_panel{
	text-align: right;
	position:relative;
	top: 50px;
	left: 0px;
}

#logout_button{	
	position: relative;
	top: 33px;
}

#save_report_button{
	position: relative;
	top: 13px;
}

#patient_list{	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
	text-align:right;
	width: 930px;
	height: 500px;
	position: relative;
	top: 75px;
}
#patient_table{	
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;
	width: 930px;
	background-color: black;
}

#add_patient_label{
	font-weight: bold;
	font-size: 20px;
}

td{
}

.close_reg{	
	position: absolute;
	right: 505px;
	top: 15px;
}

body{
	background-image:url(../images/home_page.png);
}