/* CSS Document */

#body_div {
	background-image: url(../images/900x775_bg.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 775px;
	position: relative;
	/*right: -660px;
	top: 180px;
	padding: 20px;
	text-align:left;
	border-radius: 50px;*/
}

#dd11{
	position: relative; 
	height: 300px; 
	width: 240px; 
	padding: 4px; 
	overflow-y: auto;
}

#mdTable{
	position: relative; 
	height: 300px; 
	width: 220px; 
	background-color: black;
}

body{
	background-color: #4a4a4a;
	font-family: century gothic;
}

[blue_bg]{
	font-weight: bold;
	font-size: 15px;
	color: white;
	background-color: #5070cd;
}

[w_bg]{
	background-color: white;
}
th{
	background-color: #5070cd;
}

#treatment_plan_div{
	top: -305px;
	width: 450px;
	position: relative;
	overflow-y: auto;
	left: 420px;
	height:220px;
	border: 1px solid black;
	background-color:white;
}

#treatment_table{
	position: relative;
	font-size: 12px;
	text-align: center;
	width: 450px;
	height: auto;
	overflow: auto;
	background-color: black;
}

#patient_info_panel{
	text-align: right;
	width: 400px;
	margin-left: 490px;
	font-size: 15px;
	height: auto;
	padding-right: 10px;
	position: absolute;
	top: 115px;
}

#edit_patient_button{
	position: absolute;
	margin-left: 180px;
	top: 70px;
}

#view_patient_controllers{
	position: relative;
	top: -145px;
}

#patient_medical_info{
	width: 400px;
	height: 600px;
}

#view_patient_page_div{
	width: 400px;
	position: relative;
	top: 150px;
	left: -230px;
}

.patient_medical_info{
	margin: 2px;
	padding: 2px;
	border-radius: 5px;
	width: 390px;
}

.patient_medical_info_mouseout{
	background-color: #4D4DFF;
}
.patient_medical_info_mouseover{
	background-color: #FFFFBF;
}
.patient_medical_info_mouseclick{
	background-color: #99FF99;
}

th, td{
	background-color: white;
}

#add_treatment_panel{
	width: 500px;
	height: 200px;
	margin: 30px auto;
	border: 1px solid black;
	background-color: white;
}

#edit_treatment_panel{
	width: 500px;
	height: 200px;
	margin: 30px auto;
	border: 1px solid black;
	background-color: white;
	border-radius: 8px;
}

.close_add_treat{	
	position: absolute;
	right: 436px;
	top: 35px;
}